footer {
    margin: 0px;
    padding: 8px;
    background-color: #243a69;
    width: 100%;

    .foot-page {
        display: flex;
        justify-content: space-between;

        .letter-container {
            font-size: 50px;
            display: flex;
            justify-content: flex-start;

            a {
                text-decoration: none;

                img {
                    width: 120px;
                }
            }

            .abajo {
                margin-bottom: 0px;
                font-size: 15px;
                margin-top: 5px;
                padding-left: 0px !important;

                li {
                    list-style: none;
                    font-size: 19px;
                }
            }
        }

        .end {
            display: flex;
            justify-content: end;

            .icon-container {
                align-self: center;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 50px 50px 50px;
                grid-template-areas:
                    "follow follow"
                    "wpp face"
                    "ig tiktok";

                .follow {
                    grid-area: follow;
                    width: 100%;
                    height: 100%;

                    p{
                        width: 40px;
                    }
                }

                .wpp {
                    grid-area: wpp;
                    width: 100%;
                    height: 100%;
                }

                .face {
                    grid-area: face;
                    width: 100%;
                    height: 100%;
                }

                .ig {
                    grid-area: ig;
                    width: 100%;
                    height: 100%;
                }

                .tiktok {
                    grid-area: tiktok;
                    width: 100%;
                    height: 100%;
                }

                p {
                    margin-bottom: 0px !important;
                }
            }

            .map-container {
                margin: 5px;
                display: flex;
                justify-content: center;

                div {
                    iframe {
                        width: 100% !important;
                        height: 100% !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-self: center;
                    }

                    h6 {
                        font-size: 30px;
                        text-align: center;
                        margin-bottom: 0px !important;
                    }
                }
            }
        }
    }
}