/* INDEX */
.cuerpo-page {
    background-color: $fondo;

    .fdj {
        padding: 3px;
        width: 100%;
        height: calc(80vh - 50px);
        background-image: url(../img/fondo-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        a {
            color: #f4f4f2;
            margin: 10px;
            text-align: left;
            font-size: 30px;
            text-decoration: none;
            background-color: #2b2b2e;
            border-radius: 10%;
            transition: 0.2s;
        }

        p {
            width: 45%;
            font-size: 30px;
            color: #f4f4f2;
            margin: 10px;
            text-align: left;
        }
    }

    .buy {
        background-color: #5757575d;
        border: 2px solid #2b2b2e;
        border-right: none;
        border-left: none;

        h2 {
            margin: 5px;
        }

        p {
            margin: 5px;
        }
    }

    .buy2 {
        .club {
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;

            div {
                margin: 5px;
                padding: 3px;
                border: 2px solid grey;
                width: 300px;
                height: 380px;
                text-align: center;
                background-color: #aebacc;
                display: inline-block;

                &:hover {
                    transition: 0.4s;
                    transform: scale(1.1);
                    box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                }

                img {
                    width: 100%;
                    height: 250px;
                }

                a {
                    font-size: 20px;
                    color: white;
                    background-color: #191013;
                    text-decoration: none;
                    border-radius: 10%;
                    padding: 2px;
                    transition: 0.2s;
                }

                h3 {
                    font-size: 27px;
                }

                p {
                    font-size: 20px;
                }
            }
        }
    }
}

h2 {
    padding: 3px;
    margin: 2px;
    font-size: 40px;
}

p {
    padding: 3px;
    margin: 2px;
    font-size: 20px;
}

.vdo {
    display: flex;
    justify-content: space-between;

    p {
        font-size: 40px;
        margin: 0px;
        padding: 0px;
    }

    img {
        width: 700px;
    }

    a {
        font-size: 27px;
        color: white;
        background-color: #191013;
        margin: 3px;
        padding: 2px;
        text-decoration: none;
        text-align: center;
        border-radius: 10%;
        transition: 0.2s;
    }

    .caja_1 {
        border: #191013 solid 3px;
        border-left: none;

        img {
            width: 700px;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 10px;

        p {
            font-size: 40px;
            margin: 0px;
            padding: 0px;
        }

        a {
            font-size: 27px;
            color: white;
            background-color: #191013;
            margin: 3px;
            padding: 2px;
            text-decoration: none;
            text-align: center;
            border-radius: 10%;
            transition: 0.2s;
            width: 130px;
            text-align: center;
            transition: 0.2s;
        }
    }
}


.btns {
    margin: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    div {
        margin: 5px;
        padding: 3px;
        border: 2px solid grey;
        width: 300px;
        height: 380px;
        text-align: center;
        background-color: whitesmoke;
        display: inline-block;

        &:hover {
            transition: 0.4s;
            transform: scale(1.1);
            box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
        }
    }

    a {
        font-size: 20px;
        color: white;
        background-color: #191013;
        text-decoration: none;
        border-radius: 10% !important;
        padding: 2px !important;
        transition: 0.2s;
    }

    h3 {
        font-size: 25px;
        color: black;
        width: 100%;
    }

    p {
        font-size: 20px;
    }

    img {
        width: 100%;
        height: 250px;
    }
}

.text-container {
    border: 2px solid #2b2b2e;
    background-color: #5757575d;
    border-right: none;
    border-left: none;

    h2 {
        padding: 3px;
        margin: 2px;
        font-size: 40px;
    }

    p {
        padding: 3px;
        margin: 2px;
        font-size: 20px;
    }
}

.carouselm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3px;
}

.carousel {
    width: 800px;
    display: flex;
    align-items: center;

    img {
        width: 450px;
        height: 100vh;
    }
}

/* CUENTA */
.cuenta {
    background-image: url(../img/fondo.cuenta.jpg);
    padding: 45px;
    height: 100%;

    .formulario {
        background-color: burlywood;
        margin: 43.5px;
        padding: 10px;
        border-radius: 5px;
        font-size: 20px;

        div {
            margin: 10px;
        }
    }
}

/* PRODUCTOS */
.main-productos {
    p {
        padding: 7px;
    }

    .img-productos-container {
        padding-right: 70px;
        padding-left: 70px;
        width: 100%;
        height: 500px;

        img {
            width: 100%;
            height: 100%;
        }

    }

    .shirts-container {

        .h1-productos {
            text-align: center;

            h1 {
                font-size: 60px;
                margin: 5px;
                padding: 5px;
                margin-bottom: 0px;
                padding-bottom: 0px;
                text-align: center;
            }

            a {
                text-decoration: none;
                background-color: #191013;
                color: white;
                font-size: 30px;
                border-radius: 10%;
            }
        }

        div {
            p {
                font-size: 24px;
                text-align: left;
            }

        }

        .card-shirts {

            display: flex;
            flex-direction: row !important;
            justify-content: space-around;
            height: 70%;

            section{
                display: flex;
                justify-content: center;
            }

            img {
                width: 80%;
                height: 180px;
            }

            .card {
                width: 80% !important;
                display: flex;
                align-items: center;

                h3 {
                    margin-bottom: 0px;
                }

                a {
                    text-decoration: none;
                    background-color: #191013;
                    color: white;
                    font-size: 20px;
                    border-radius: 10%;
                }

                &:hover {
                    transition: 0.4s;
                    transform: scale(1.1);
                    box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                    -webkit-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                }
            }
        }

        .history-container {
            p {
                font-size: 25px;
            }

            img {
                width: 200px;
                height: 200px;
            }

            a {
                text-decoration: none;
                background-color: #191013;
                border-radius: 5%;
                font-size: 20px;
                color: #f4f4f2;
            }
        }

        .productos-img {
            margin: 5px;
            padding: 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;


            img {
                padding: 10px;
                width: 600px;
                height: 450px;
                transition: 3s;

                &:hover {
                    transform: rotateX(360deg);
                }
            }

        }
    }

    .text-produ-container {
        p {
            font-size: 25px;
            margin-bottom: 0px;
        }
    }

    .productos-fondos2 {
        align-content: center;
        align-items: center;
        text-align: center;

        img {
            margin: 10px;
            padding: 20px;
            width: 80%;
            height: 400px;
            transition: 3s;

            &:hover {
                transform: rotateY(360deg);
            }
        }
    }
}


/* SERVICIOS */
.servicios-page {
    h1 {
        padding: 10px;
        margin-bottom: 0px;
    }

    p {
        font-size: 20px;
        padding: 10px;
        margin-bottom: 0px;
        text-align: justify;
    }

    .service-first {
        display: flex;
        justify-content: space-evenly;

        img {
            width: 500px;
            height: 250px;
            margin: 5px;
        }

        p {
            margin-left: 5px;
            margin-right: 5px;
            text-align: start;
        }
    }

    .service-two {
        display: flex;
        align-items: center;

        img {
            margin: 5px;
        }

        p {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

/* NOSOTROS */
.nosotros-main {
    h1 {
        margin-left: 10px;
        margin-bottom: 0px;
        padding-top: 10px;
    }

    p {
        padding: 10px;
        font-size: 23px;
        margin-bottom: 0px;
    }

    .card-nos{
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        padding-bottom: 10px;
        margin-bottom: 5px;

        img{
            height: 100%;
            height: 194px;
        }

        .card{
        &:hover {
            transition: 0.4s;
            transform: scale(1);
            box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
        }
        }
    }

    .card-nos2{
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        padding-bottom: 10px;
        margin-bottom: 5px;

        img{
            height: 194px;
        }

        .card{
            &:hover {
                transition: 0.4s;
                transform: scale(1);
                box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
            }
        }
    }

    .card-nos3{
        display: flex;
        flex-direction: row !important;
        justify-content: space-around;
        padding-bottom: 10px;

        .card{
            &:hover {
                transition: 0.4s;
                transform: scale(1);
                box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                -webkit-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -1px 10px 42px -7px rgba(0, 0, 0, 0.75);
            }
        }

        img{
            height: 194px;
        }
    }
}

/* CONTACTOS */
.contactos-page {
    display: flex;
    justify-content: space-evenly;

    .text-cont-container {
        padding: 5px;

        a {
            text-decoration: none;
        }

        h1 {
            margin-bottom: 0px;
        }

        p {
            margin-bottom: 0px;
            font-size: 20px;
        }

        ul {
            margin-top: 10px;
            margin-bottom: 0px;
            font-size: 19px;
        }
    }

    img {
        width: 700px;
        height: 100%;
    }
}